.main-area {
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 0px auto;
    padding: 20px;
}

.info-disclaim {
    background-color: grey;
    color: white;
    padding: 20px;
}

.app{
    height: 20px;
    width: 50px
}